.products {
    transition: transform .2s;  
  }
  .products:hover {  
      transform: scale(1.03);
  }

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.box{
    padding:2rem;
    text-align: center;
    border: .15rem solid black;
    border-radius: .4rem;
    background-color: #fff;
    color: black;
    width: 80%;
    margin-top: 30px;
  
}

.box .price{
    font-size: 1rem;
    padding:.5rem 0;
}

.inline {
    display: inline;
}

.mr {
    margin-right: 10px;
}

.ml {
    margin-left: 10px;
}