.navbar-bg {
    background-color: #6f4e3742;    
  }
  
  .navbar-nav {
    /*margin-left: auto;*/
    margin-right: 20px;    
  }
  
  .navbar-brand {
    padding-left: 10px;  
  }

.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
    vertical-align: top;  
}